<nav class="navbar navbar-expand-lg justify-content-between">
    <a class="navbar-brand text-center col-5" href="/home">SocialMediaApp</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
   <div class="collapse navbar-collapse col-5" id="navbarSupportedContent">
      
    <div class="col-4 row col-md-5">
        <div id="search-btn">
            <i class="fas fa-search" id = "search" style="margin-top: 5px;"></i>
        </div>
       <!-- <i class="fas fa-comment" id = "chat"></i> -->
       <div id = "chat-circle" class="btn btn-raised">
          <i class="fas fa-comment" id = "chat"></i>
       </div>
       <!-- <i class="fas fa-user-alt" id="user"></i> -->
       <div id="user-button">
            <a href="/user">
                    <i class="fas fa-user-alt" id="user"></i>
            </a>
        </div>
    </div>
    <div class=" col-md-10 justify-content-between">
     <button type="button" class="btn btn-success "><a href="/post" style="color: white;">Create Post</a></button>
     <button type="button" class="btn btn-secondary"><a href="/logout" style="color: white">Sign Out</a></button>
    </div>
    
    </div>
    
</nav>
